################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpConcurrentCollections/v15
/1-csharp-concurrent-collections-m1-exercise-files/.vs/SubmitOrders/v15/Server/sqlite3/db.lock
